{% extends 'base.html' %} {% block main %}
<article>
  <h1>{{ tag.name }}</h1>
  {% if not topic_list %}
  <p>まだこのタグのトピックはありません。</p>
  {% else %} {% for topic in topic_list %}
  <section class="mt-5 mb-5">
    <h2>
      <a href="{% url 'topics:detail' topic.id %}">
        {{ topic.title }}
      </a>
    </h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">詳細</th>
          <td>{{ topic.text }}</td>
        </tr>
        <tr>
          <th scope="col">投稿日時</th>
          <td>{{ topic.pub_date }}</td>
        </tr>
        <tr>
          <th scope="col">タグ</th>
          <td>
            {% for tag in topic.tags.all %}
            <p>{{ tag }}</p>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="col">投稿者</th>
          <td>
            <a href="{% url 'accounts:detail' topic.user.id %}">
              {{ topic.user.display_name }} @{{ topic.user.username }}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="col">ゴロ</th>
          {% if topic.throw_three_answer %}
          <td>
            <ol class="list-group">
            {% for answer in topic.throw_three_answer %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ answer.title }}
              <span class="badge badge-primary badge-pill">{{ answer.votes }}</span>
              </li>
            {% endfor %}
            </ol>
          </td>
          {% else %}
          <td>まだ登録されていません。</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </section>
  {% endfor %} {% if topic_list.has_other_pages %}
  <ul class="pagination">
    {% if topic_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ topic_list.previous_page_number }}"
        >&laquo;</a
      >
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %} {% for i in topic_list.paginator.page_range %} {% if topic_list.number == i %}
    <li class="page-item active">
      <span class="page-link"
        >{{ i }} <span class="sr-only">(current)</span></span
      >
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %} {% endfor %} {% if topic_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ topic_list.next_page_number }}"
        >&raquo;</a
      >
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %} {% endif %}
</article>

{% endblock %}
