[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "==2.7.7"
psycopg2-binary = "==2.7.7"
pillow = "*"
boto3 = "*"
django-storages = "*"
django-markdownx = "*"

[requires]
python_version = "3.7"
