{% extends 'base.html' %} {% block main %}
<article>
  <h1>56genとは</h1>
  <p class="mt-5">
    薬学生が薬学生のために作成した、「語呂を作って」、「共有して」、「投票する」アプリケーションです。
  </p>
  <p>一部の機能以外は会員登録をしなくても使用できます。</p>
  <p>会員登録が必要なのは以下の機能だけです。</p>
  <ul>
    <li>投票機能</li>
    <li>ランキング機能</li>
  </ul>
  <section>
    <h2>使い方</h2>
    <section class="mt-3">
      <h3>
        ゴロが思いつかないとき
      </h3>
      <ol>
        <li>
          覚えにくいトピックを投稿（ゴロを募集）
        </li>
        <li>
          ゴロが集まる
        </li>
        <li>
          気に入ったものに投票する
        </li>
        <li>
          人気のゴロのランキングができる
        </li>
        <li>
          気に入ったゴロで覚えたいことを覚える
        </li>
      </ol>
    </section>
    <section class="mt-3">
      <h3>
        ゴロを考えたいとき
      </h3>
      <ol>
        <li>
          ゴロを考えるトピックを探す
        </li>
        <li>
          ゴロを投稿する
        </li>
        <li>
          投票されるのを待つ
        </li>
        <li>
          たくさん投票されるとランキングに載る
        </li>
      </ol>
    </section>
  </section>
</article>

{% endblock %}
