{% extends 'base.html' %} {% block main %}
<article>
  <h1>ゴロを募集しよう</h1>
  <form class="mt-5" action="{% url 'topics:build' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ topic_form.title }}
    </div>
    <div class="form-group">
      {{ topic_form.text.help_text }}
      {{ topic_form.text }}
    </div>
    <div class="form-group">
      {{ topic_form.media }}
    </div>
    <div class="form-group">
      {{ topic_form.tags }}
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      新規ゴロ募集
    </button>
  </form>
</article>

{% endblock %}
