{% extends 'base.html' %} {% block main %}
<article>
  <h1>{{ topic.title }}</h1>
  <section class="mt-5 mb-5">
    <h2>トピック</h2>
    <table class="table">
      <tbody>
        <tr>
          <th scope="col">タイトル</th>
          <td>{{ topic.title }}</td>
        </tr>
        <tr>
          <th scope="col">詳細</th>
          <td>{{ topic.text }}</td>
        </tr>
        <tr>
          <th scope="col">投稿日時</th>
          <td>{{ topic.pub_date }}</td>
        </tr>
        <tr>
          <th scope="col">タグ</th>
          <td>
            {% for tag in topic.tags.all %}
            <p>{{ tag }}</p>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="col">投稿者</th>
          <td>
            <a href="{% url 'accounts:detail' topic.user.id %}">
              {{ topic.user.display_name }} @{{ topic.user.username }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="mb-5">
    <h2>ゴロ</h2>
    {% if answer_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">票数</th>
          <th scope="col">ゴロ</th>
          <th scope="col">説明</th>
          <th scope="col">投稿日時</th>
          <th scope="col">投稿者</th>
        </tr>
      </thead>
      <tbody>
        {% for answer in answer_list %}
        <tr>
          <th scope="row">{{ answer.votes }}</th>
          <td>{{ answer.title }}</td>
          <td>{{ answer.desc }}</td>
          <td>{{ answer.pub_date | date:"y/m/d P" }}</td>
          <td>
            <a href="{% url 'accounts:detail' answer.user.id %}">
              {{ answer.user.display_name }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>回答はまだありません。ゴロを投稿してみよう！</p>
    {% endif %}
    <form action="{% url 'topics:detail' topic.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ answer_form.title }}
      </div>
      <div class="form-group">
        {{ answer_form.desc }}
      </div>
      <button type="submit" class="btn btn-primary btn-block">新規ゴロ投稿</button>
    </form>
  </section>
</article>

{% endblock %}
